/* Page 1 styles */
#page-1 {
    background: linear-gradient(to bottom, white, black);
    color: white;
}

#page-1 .btn {
    position: fixed;
    bottom: 20px;
}

/* Page 2 styles */
#page-2 {
    background: linear-gradient(to bottom, black, white);
    color: white;
}

#page-2 .btn {
    position: fixed;
    bottom: 20px;
}

/* Page 3 styles */
#page-3 {
    background-color: black;
    color: white;
}

#page-3 .btn {
    position: relative;
    top: 20px;
}
